{% extends "base.html" %}
{% block title %}Articles{% endblock %}
{% block body %}
    <h1>Articles</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Intro</th>
            <th>Text</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.articleId }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.intro }}</td>
                <td>{{ article.text }}</td>
            </tr>
        {% endfor %}
    </table>
    <!-- {%for article in articles%}

    {% endfor %} -->
{% endblock %}

